<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luobd.server.finance.mapper.FinanceItemMapper">


    <select id="page" resultType="com.luobd.server.finance.entity.FinanceItem">
        select * from finance_item where deleted = 0
        <if test="input.categoryName != null and input.categoryName != ''">
            and categoryName like concat('%',#{input.categoryName},'%')
        </if>
        <if test="input.occurStartTime != null">
            and occurTime >= #{input.occurStartTime}
        </if>
        <if test="input.occurEndTime != null">
            and occurTime &lt;= #{input.occurEndTime}
        </if>
    </select>

</mapper>
